# Build artifacts (Flint 2.77 32bit)
Flint 2.77 (32bit)/*.obj
Flint 2.77 (32bit)/*.exe
Flint 2.77 (32bit)/*.err
Flint 2.77 (32bit)/DEBUG.LOG
Flint 2.77 (32bit)/BUILD/

# Build artifacts (Flint 2.77 src)
Flint 2.77 src/*.OBJ
Flint 2.77 src/*.EXE
Flint 2.77 src/LINK.RSP
Flint 2.77 src/TURBOC.$LN
Flint 2.77 src/BUILD/


# IDE files
*.bak
*.tmp

# Python
.venv/
__pycache__/
*.pyc

# OS
Thumbs.db
desktop.ini
.DS_Store
