# Build artifacts (Flint 2.77 32bit)
Flint 2.77 (32bit) src/*.obj
Flint 2.77 (32bit) src/*.exe
Flint 2.77 (32bit) src/*.err
Flint 2.77 (32bit) src/DEBUG.LOG
Flint 2.77 (32bit) src/BUILD/

# Build artifacts (Flint 2.77 src)
Flint 2.77 src/*.OBJ
Flint 2.77 src/*.EXE
Flint 2.77 src/LINK.RSP
Flint 2.77 src/TURBOC.$LN
Flint 2.77 src/BUILD/


# IDE files
*.bak
*.tmp

# Python
.venv/
__pycache__/
*.pyc

# OS
Thumbs.db
desktop.ini
.DS_Store
